@page
@model Modul.Pages.Formularz.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ZalozeniaDlaOferty[0].PokazFormularz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZalozeniaDlaOferty[0].CzyRolnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZalozeniaDlaOferty[0].ProgPodatkowy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZalozeniaDlaOferty[0].Wojewodztwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZalozeniaDlaOferty[0].MiesieczneRachunki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZalozeniaDlaOferty[0].ZnajomoscRocznychRachunkowiZuzywanaEnergia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZalozeniaDlaOferty[0].ImieiNazwiskoKlienta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZalozeniaDlaOferty[0].Paneltechniczny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZalozeniaDlaOferty[0].WycenaNaZyczenie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ZalozeniaDlaOferty) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PokazFormularz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CzyRolnik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgPodatkowy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wojewodztwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiesieczneRachunki)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZnajomoscRocznychRachunkowiZuzywanaEnergia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImieiNazwiskoKlienta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paneltechniczny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WycenaNaZyczenie)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
